/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/*---------------------------Nav-Bar-----------------------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: cadetblue;
}

.logo {
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: rgb(226, 226, 226);
 }

.connect {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.connect li {
    list-style:none ;
  } 

.connect a{
    color:  rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 14px;
}

.connect li a img{
    width: 25px;
    height: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style:none ;
  } 

.nav-links a{
    color:  rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 50px;
}

.nav-links li a {
   transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: dodgerblue;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: aquamarine;
    margin: 5px;
    transition: all 0.4s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

/*---------------------------Nav-Bar End -----------------------*/

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

/*--------------------------Section 1-----------------------------*/
.contain{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: auto;
    height: 95vh;
    align-items: center;
    
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: bisque;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  
}

.text{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    top: 100px;
    right: 60px;
    position: relative;
}

.text h1 {
    font-size: 44px;
    font-weight: 500;
   /* background: linear-gradient(to right, #494964, #6f6f89);*/
}

.text p {
    margin-top: 5px;
    font-size: 22px;
    color: #010108;
}

/*--------------------------Section 2-----------------------------*/

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid rgb(4, 173, 185);
    border-radius: 25px;
    background: transparent;
    color: rgb(4, 173, 185);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.cta-select:hover{ 
    
    animation: cta 5s linear 0s infinite;

}

.cta-add {
    background: rgb(4, 173, 185);
    border-radius: 25px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

/*//////////////////////////////////*/

.body-img {
	position:fixed;
	top: 0px;
	right: 0px;
	z-index: -1;
    width: 50%;



}
/*Mobile responsivness*/
@media screen and (max-width:7000px) {
    body{
        overflow: hidden visible;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        left: 0px;
        height: 92vh;
        top: 8vh;
        background-color:cadetblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        list-style: none;
        transform: translateX(100%);
        transition: transform 0.7s ease-in;
        padding: 0 95px 0 0;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}


/* Animations*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(50px);
    }
}

@keyframes cta{
    0%   {bottom:0px;}
    25%  {bottom:150px;}
    50%  {bottom:200px;}
    75%  {bottom:250px;}
    100% {bottom:0px;}
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}