/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-wrap: hidden;

}

/*---------------------------Nav-Bar-----------------------*/

.container{
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position:sticky;
    top: 0;
}

.logo {
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: rgb(226, 226, 226);
 }

.connect {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color:rgb(33, 97, 90);
}

.connect li {
    list-style:none ;
  } 

.connect a{
    color:  rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 14px;
}

.connect li a img{
    width: 25px;
    height: 25px;
}

/*.nav-links{
    position: absolute;
    right: 0px;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(8, 86, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
    padding: 0 95px 0 0;
}
.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
}*/

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color:rgb(33, 97, 90);
}

.nav-links li {
    list-style:none ;
  } 

.nav-links a{
    color:  rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 50px;
}

.nav-links li a {
   transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: dodgerblue;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: aquamarine;
    margin: 5px;
    transition: all 0.4s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

/*---------------------------Nav-Bar End -----------------------*/

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
} 

/*--------------------------Section 1-----------------------------*/
.contain{
    display: flex;
    width: 100%;
    height: 95vh;
    padding: 10px;
    margin: auto;
    position: relative;
    top:0px;
}

.image {
    flex: 1;
    display: flex;
    padding: 0px 300px 0px 0px;
    justify-content: center;
    position:absolute;
    top: 0px;
    right: 250px;
    z-index: 1;
  
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 10px 50px 10px;
    position:absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
}

.text h1 {
    font-size: 50px;
    font-weight: 600;
    color: beige;
    /*background: linear-gradient(to right, #494964, #6f6f89);*/
}

.text p {
    margin-top: 5px;
    font-size: 22px;
    color: beige;
}

/*--------------------------Section 2-----------------------------*/

.cta {
    padding: 50px 50px 50px 50px;
    align-items: center;
}

.cta-select{
    border: 2px solid rgb(4, 173, 185);
    border-radius: 25px;
    background: transparent;
    color: rgb(4, 173, 185);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover{ 
    
    animation: cta 0.3s linear 0s infinite;

}

.cta-add {
    background: rgb(4, 173, 185);
    border-radius: 25px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

/*//////////////////////////////////*/

.body-img {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: -1;
    width: 100%;
    height: 100%;



}
/*Mobile responsivness*/

@media screen and (max-width: 946px){

    body{
        overflow: hidden;
    }
    .contain{
        display: flex;
        flex-direction:column;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: auto;
        position: relative;
        
        
    }
    
    .image {
        flex: 1;
        display: flex;
        padding: 10px;
        justify-content: center;
        order: 2;
        
    }
    
    .text{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        order: 1;
        position: absolute;
    
    }
    
    .text h1 {
        font-size: 50px;
        font-weight: 600;
        color: beige;
        /*background: linear-gradient(to right, #494964, #6f6f89);*/
    }
    
    .text p {
        margin-top: 5px;
        font-size: 22px;
        color: beige;
    }

}
   
.nav-active{
    transform: translate(0%);
}

.nav-inactive{
    transform: translate(100%);
}

/*Canvas */
#canvas1{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: radial-gradient(#22C1C3, #FDBB2D);*/
    background-image: url("img/goku.jpg") ;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* Animations*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(50px);
    }
}

@keyframes cta{
    0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:0px;}
    75%  {bottom:5px;}
    100% {bottom:0px;}
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}